examples/Case*/flow.*
examples/Case*/scal.*
examples/Case*/dns.out
examples/Case*/tlab.log
examples/Case*/dns.obs
examples/Case*/tlab.ini.bak
examples/Case*/rand.*
examples/Case*/avg*
examples/Case*/grid
examples/Case*/grid.sts
examples/Case*/dns.err
examples/Case*/tlab.war
examples/Case*/dns.trc
examples/Case*/eps*
examples/Case*/part*
examples/Case*/tower*
examples/Case*/traj*
build_BIG/*
build_LITTLE/* 
build_SERIAL/* 
build_PARALLEL/*
build_DEBUG/*
test/*
.vscode/*
*.mod
*~
*/*~
*/*/*~