examples/Case*/flow.*
examples/Case*/scal.*
examples/Case*/dns.out
examples/Case*/dns.log
examples/Case*/dns.ini.bak
examples/Case*/rand.*
examples/Case*/avg*
examples/Case*/dns.def
examples/Case*/grid
examples/Case*/grid.sts
examples/Case*/dns.err
examples/Case*/dns.war
examples/Case*/dns.trc
examples/Case*/eps*
build_BIG/*
build_LITTLE/* 
build_SERIAL/* 
build_PARALLEL/*
build_DEBUG/*
test/*
.vscode/*
*.mod
*~
*/*~
*/*/*~