examples/Case*/flow.*
examples/Case*/scal.*
examples/Case*/dns.out
examples/Case*/dns.log
examples/Case*/dns.ini.bak
examples/Case*/rand.*
examples/Case*/avg*
examples/Case*/dns.def
examples/Case*/grid
examples/Case*/grid.sts
examples/Case*/dns.err
examples/Case*/dns.war
build_BIG/*
build_LITTLE/* 
build_PARALLEL/*
build_DEBUG/*
build/*
build_test/*
build_little/*
build_parallel/*
build_debug/*
test_debug/*
test_little/*
test_parallel/*
test/*
*~
*/*~
*/*/*~